@import url(reset.css);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700);
@import url(http://fonts.googleapis.com/css?family=Arapey:400italic,400);

body {
	font-family: 'Open Sans', sans-serif;
	background-image: url('../img/pizza1.jpg');
}

p {
	font-family: 'Arapey', serif;
}

.content-box {
	width: 75%;
	background-color: #FFF;
	margin: 0 auto;
	box-shadow: 2px 2px 6px #555;
	opacity: 0.8;
}

.name {
	font-size: 400%;
	text-align: center;
	color: #3F1373;
}

img.display {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

nav ul {
	background-color: #AAA;
	width: 70%;
	border-radius: 15px;
	margin: 0 auto;
	text-align: center;
}

nav li {
	display: inline-block;
}

nav a {
	display: inline-block;
	padding: 10px;
	color: #FFF;
	font-weight: bold;
}

nav a:link,
nav a:visited {
	text-decoration: none;
}

nav a:hover {
	background: #9E77D6;
}

/*dark purple: 3F1373;
light purple: 9E77D6;
dark blue: 000641;*/